<cfoutput>
  <div class="top_frame">CFWalt
  </div>
  <div class="mainMenu">
  	<ul>	
  		<li><a href="#event.buildLink('general.index')#">Home</a></li>
  		<li><a href="#event.buildLink('general.about')#">About</a></li>
   		<li><a href="#event.buildLink('general.blog')#">Blog</a></li> 
  	</ul>
  </div>
</cfoutput>
