<cfoutput>
This is new_test

<form name="x" method="POST" action="index.cfm?event=general.formpost">
  <input type="text" name="name" id="name" />

  <br />

  <input type="password" name="pw" id="pw" />

  <br />

  <input type="text" name="email" id="email" />

  <br />

  <input type="submit" id="actionbutton" name="actionbutton" value="CLICK" />
</form>


</cfoutput>