.mainMenu {
	padding:5px;
	background:#EEEEEE;

}

.mainMenu ul {
	margin:0px;
	padding:0px;
	font-size:12px;
	font-weight:bold;
}

.mainMenu ul li {
	list-style:none;
	display:inline;
	padding-right:10px;
}

.mainMenu li a, .mainMenu li a:visited {
	text-decoration:none;
	color:DarkBlue;

}

.mainMenu li a:hover {
	text-decoration:underline;
}
